{
	"extends": ["airbnb/base", "airbnb-flow"],
	"parser": "babel-eslint",
	"rules": {
		"indent": [2, "tab"],
		"import/no-dynamic-require": 0,
		"no-tabs": 0,
		"comma-dangle": ["error", "never"],
		"import/no-extraneous-dependencies": 0
	}
}